<!DOCTYPE html>
<html lang="en">
{{template "header"}}

<body>  
	<form action="/crawler">
		<div class="container">
			<br>
			<h2>Crawler</h2>

			<div class="col-md-auto">
				<label for="uri" class="form-label">URI</label>
				<input type="text" class="form-control" id="uri" name="uri">
			</div>
			<div class="col-md-auto">
				<label for="depth" class="form-label">Depth</label>
				<input type="text" class="form-control" id="depth" name="depth">
			</div>
			<br>
			<button type="submit" class="btn btn-outline-dark btn-lg">
				<i class="bi bi-play-circle"> Run</i>
			</button>
		</div>
	</form>
</body>
</html>